@import url(../base/style.css);

body {
  background: #FFF url(images/bg.jpg) fixed;
}

#wrap-1 {
  width: auto;
}

#wrap-2 {
  padding: 0;
  border: none;
  width: 960px;
  margin: auto;
  background: transparent;
}

#theme-header {
  background: url(images/robos.png) 90% 100% no-repeat;
  height: 300px;
}

#site-title {
  width: auto;
  height: auto;
  top: 30px;
  left: 10%;
  overflow: visible;
}

#site-title a {
  text-decoration: none;
  font-size: 1px;
  color: #FFF; /* old IE */
  color: transparent;
  position: relative;
  top: 0;
  left: 0;
  width: 346px;
  height: 240px;
  padding: 0;
  background: url(images/logo-jaca.png);
}

#doe-eletronicos {
  position: absolute;
  top: 150px;
  left: 40%;
  padding: 10px 30px;
  border-radius: 17px;
  background: #804;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  z-index: 999;
}

#user {
  top: -295px;
  right: 0;
  background: rgba(255,255,255,0.6);
  padding: 5px 5px 5px 20px;
  height: 20px;
  border-radius: 5px;
}

#user .welcome {
  margin: 0;
}

#user #top-search div {
  white-space: nowrap;
  position: absolute;
  right: 0;
  top: 17px;
  padding: 2px 5px;
  background: #FFF;
  color: #000;
  border-radius: 5px;
}

#navigation {
  top: -42px;
  background: transparent;
}

#navigation-end {
  display: none;
}

.profile-image-block .profile-big-image {
  display: none;
}

#content {
  margin-top: 0;
}

#main-content-wrapper-1, #main-content-wrapper-2,
#main-content-wrapper-3, #main-content-wrapper-4,
#main-content-wrapper-5, #main-content-wrapper-6,
#main-content-wrapper-7, #main-content-wrapper-8 {
  background: transparent;
  padding: 0;
}

.blog-post {
  background: transparent;
  padding: 0px;
  margin: 0px;
}

.template-rightbar .box-1 {
  margin-right: 220px;
}
.template-leftbar .box-1 {
  margin-left: 220px;
}

.box-2, .box-3 {
  padding-top: 10px;
}

#content .box-1 .block.main-block {
  background: #FFF;
  padding: 1px 10px;
  margin: 0 -10px;
  border-radius: 20px;
}

#content #article-toolbar h1 {
  background: #56B;
  border: none;
  color: #FFF;
  padding: 5px 10px;
}

#content .link-list-block li {
  background: transparent;
}

#content .link-list-block li a {
  padding: 5px 3px 5px 30px;
  background-position: 8px 50%;
  background-color: rgba(0,150,30,0.5);
  font-weight: bold;
  color: #FFF;
  text-shadow: 0 0 5px rgba(0,0,0,0.5), 1px 1px 1px rgba(0,0,0,0.5);
}

#content .link-list-block li a:hover {
  background-color: rgba(22,150,40,0.7);
  border: none;
}

#content .link-list-block li a.link-this-page,
#content .link-list-block li a:hover.link-this-page {
  background-color: rgba(140,0,70,0.6);
  width: auto;
  border: none;
}

#theme-footer {
  width: 960px;
  margin: auto;
}

#footer-inner {
  padding: 30px;
}

#footer-content h2 {
  font-size: 100%;
  margin: 0;
}
